@model LibraryManagement.Models.LibraryVM.BookTakenCreateVM

@{
    ViewData["Title"] = "Issue Book";
}

<h2>Issue Book</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakingDate" class="control-label"></label>
                <input asp-for="TakingDate" class="form-control" />
                <span asp-validation-for="TakingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model" class="control-label"></label>
                <select asp-for="StudentID" class="form-control"
                        asp-items="Model.AllStudents">
                    <option value="">-- Select Student --</option>
                </select>
                <span asp-validation-for="StudentID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="@Model" class="control-label"></label>
                <select asp-for="BookID" class="form-control"
                        asp-items="Model.AllBooks">
                    <option value="">-- Select Book --</option>
                </select>
                <span asp-validation-for="BookID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Issue" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
